<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/links" class="btn btn-primary m-4">
                        Click aquí para Agregar Adicionales a Trabajadores
                    </a>
		   <h6>Si tienes una duda envianos un whatsapp</h6> <!-- aqui movi-->
                    <a>Horario de atencion de 9 A.M. a 6 P.M.</a> 
                    <a href="https://wa.me/528341893558" class="btn btn-success m-4" target="_blank">
                        Enviar Whatsapp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
